.cont{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(keyboard.jpg);
    background-size: cover;
    background-position: center;



}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.logo{
    width: 120px;
    cursor: pointer;

}
.navbar ul li{
    list-style: none ;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none ;
    color: #fff ;
    text-transform: uppercase;

}

.navbar ul li ::after{

    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover::after{
width: 100%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #81c644;
    font-family: 'Josefin Sans'sans-serif;
}
.wrapper{
    margin-top: 0%;

}
.wrapper h1{
    font-family: 'Allura',cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: white;


}
.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}
.team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;

    line-height: 20px;
}
.team .team_member h3{
    color: darkgreen;
    font-size: 20px;
    
}